/* 
 * Voyaldoc.css 
 * @author Voyaldoc 
 * @Jorge Olvera 
  */

 html,
body {
  height: 100%;
}

@font-face {
 font-family: 'segoeuisl'; 
 src: url('../fonts/segoeuisl.eot'); 
 src: url('../fonts/segoeuisl.eot?#iefix') format('embedded-opentype'), 
 url('../fonts/segoeuisl.svg#segoeuisl') format('svg'), 
 url('../fonts/segoeuisl.woff') format('woff'), 
 url('../fonts/segoeuisl.ttf') format('truetype'); 
 font-weight: normal; 
 font-style: normal;
}


/***********************************************
* ESTILOS GENERALES Y DISPOSITIVOS 1336PX      *
***********************************************/
/*--------------------------------------------------------------------------------------------------------*/


/*************************
*         MENU          *
*************************/
.navbar{
  margin-bottom: 0px;
}

.navbar-default {
  background: -webkit-linear-gradient (to right,#56B8DD, #2A92C7); /* For Safari */
  background: -o-linear-gradient(to right, #56B8DD, #2A92C7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #56B8DD, #2A92C7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #56B8DD, #2A92C7); /* Standard syntax */
  background: #2A92C7;
}

.sloganMenu{
  color: #fff;
}

.sloganMenu h1{
  font-size: 14px;
  font-family: 'Open Sans',sans-serif;
  color: #fff;
}

.facebookMenu{
  margin-top: 19px;
  color: #fff;
  font-family: 'Open Sans',sans-serif;';
}
/*--------------------------------------------------------------------------------------------------------*/

/*************************
*    BOTONES MENU      *
*************************/
.botonesMenu{
  margin-top: 8px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #2A92C7;
  border-color: #2A92C7;
}

.btn-default {
  color: #fff;
  background-color: #2A92C7;
  border-color: #2A92C7;
}

.dropdown-menu {
  background-color: #2A92C7;
}

.dropdown-menu > li > a {
  color: #fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #56B8DD;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
 color: #fff;
 background-color: #2A92C7;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #56B8DD;
}

.telefonos{
  color: #61bf4d;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Open Sans',sans-serif;
  margin: 0px 0 3px 0;
  text-align: right;
}

/*--------------------------------------------------------------------------------------------------------*/

/**********
*BANNERS  *
**********/

/*banner Superior*/

.banner img{
  width: 750px;  
  height: 141px;
}

/*banner lateral beneficios Pacientes */

.beneficios{
  background-color: #3fa4d1;
  width: 285px;
  height: 512px;
  border-radius: 8px;
  margin: 15px 0px 20px 0px;
  color: #fff;
}

.tituloBeneficios{
  margin: Dpx 10px;
  font-size: 30px;
}

.descBeneficios{
margin: 10px;
border-top: 1px solid #fff;
font-size: 14px;
font-weight: bold;
padding-top: 10px; 
}

.beneficios ul li{
font-size: 16px;
padding: 5px 0;
}

/*banner lateral beneficios Dr */

.beneficiosDr{
  background-color: #3fa4d1;
  width: 290px;
  height: 555px;
  border-radius: 8px;
  margin: 15px 0px 20px 0px;
  color: #fff;
}

.tituloBeneficiosDr{
  margin: 10px 10px;
  font-size: 30px;
}

.descBeneficiosDr{
margin: 10px;
border-top: 1px solid #fff;
font-size: 14px;
font-weight: bold;
padding-top: 10px; 
}

.beneficiosDr ul li{
font-size: 14px;
padding: 3px 0;
margin-left: -40px;
}

/*banner Inferior*/

.llamadaBanner{
  background-color: #F4F4F4;
  border-radius: 8px;
  margin-bottom: 20px;
}

.tituloLlamaGratis{
color: #979797;
font-size: 26px;
margin: 15px 15px 15px 0px;
float: left;
}

.tipoNum{
  float: left;
  color: #8e8e8e;
  font-size: 16px; 
}

.ingresarNumero input{
  margin: 15px 15px 15px 0px;
}

.ingresarNumero button{
  margin: 0px 15px 15px 0px;
}

.bannerInferior img{
  width: 500px;  
  height: 111px;
  margin-top: 30px;
}


/*banner Lateral Ads*/

.bannerlateral{
margin: 14px 0px 10px 0px;
padding-left: 45px;
}

.bannerlateral img{
  width: 200px;  
  height: 600px;
}


/*--------------------------------------------------------------------------------------------------------*/

/**********
*BUSCADOR *
**********/

/*buscador principal tabs */

.nav-tabs{
  font-size: 20px;
}

.nav-tabs>li.active>a , .nav-tabs>li.active>a:hover{
  color: #fff;
  background-color: #239acb;
}

.nav-tabs>li>a:hover {
  color: #fff;
  background-color: #239acb;
}

.nav-tabs>li>a{
  color: #fff;
  background-color: #c2c2c2;
}

.tab-content{
  border-top: 3px solid #239acb;
  background-color: #dadddc;
  height: auto;
  padding-left: 17px;
  border-radius: 4px;
}

.form-control{
  background-color: rgba(187,187,187,0.7);
  color: #fff;
  font-size: 13px;
}

.form-control::-webkit-input-placeholder {color: #fff}
.form-control:-moz-placeholder {color: #fff}
.form-control::-moz-placeholder {color: #fff}
.form-control:-ms-input-placeholder {color: #fff;}

.especialista{
	margin-left:-10px;
  margin-right: -30px;
}

.estado{
  margin-right: -50px;
}

.direccion{
 margin-right: 8px;
}


/****Estilos Alex****/

/********************
   PAGE RESULTADOS
*********************/
.filtrar{
	margin:20px -42px 30px 5px;
}
.costo{
	margin:20px -61px 30px 0;
}
.nombre{
	margin:20px 0 30px;
}
.btn{
	margin-top:56px;
	margin-bottom:40px;
	margin-left:5px;
}

.text_resultado{
	margin-top:20px;
    font-family: 'Open Sans',sans-serif;
	font-size:15px;
	color: #0F91CB;
	font-weight:bold;
}
.resultado{
	margin-top:2px;
	background:#F4F4F4;
	height:auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
}
.aplicacion{
	margin-top:2px;
	background:#00F;
	height:auto;
}
.avatar{
	margin-left:-16px;
}

.titulo-dr{
	font-family: 'Open Sans',sans-serif;
	font-size:14px;
	color: #0F91CB;
	font-weight:bold;
	text-decoration:underline;
}
.subtitulo{
	font-size:14px;
	color:#444444;
	font-weight:bold;
}
.semana-inicio{
	margin-left:15px;
}
.semana{
	font-size:12px;
	text-align:center;
}
.semana, .semana1, .semana-inicio{
	font-size:12px;
}
.semana1{
	background:#EEECED;
}

.tit-dia{
	width:100%;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	margin:0;
}
.horario{
	color:#19A7C5;
	text-decoration:underline;
}

/********************
     PAGE PERFIL 
*********************/
.menu-perfil>li.active>a , .menu-perfil>li.active>a:hover, .menu-perfil > li > a:hover {
	background: none repeat scroll 0 0 #5EC14C;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
}
.menu-perfil > li > a{
	background: none repeat scroll 0 0 #C2C2C2;
	font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
	margin-bottom:10px;
}
.menu-perfil{
	border:none;	
	margin-top:20px;
}
.borderArt {
    border-top: 4px solid #5EC14C;
    height: 1px;
    left: 0;
    position: absolute;
    top: 329px;
    width: 100%;
}
.perfil{
	background:#FFF;
	border:none;
	margin-top:20px;
}
.tit-perfil{
	color:#2A92C7;
}

.boton{
    background: none repeat scroll 0 0 #2A92C9;
    border: 1px solid #1D6DC1;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #1D6DC1;
	width:111px;
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.boton:hover{
	background:#2A92FE;
	text-decoration:none;
	color:#FFF;
}
.boton-azul{
	color:#FFF;
	width:111px;
	margin-bottom:20px;
	margin-top:20px;
}
.calendario{
	height:400px;
	background:#CCC;
	margin-bottom:30px;
}
.cuenta{
	background:#F5F5F5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:30px;
	padding:15px;
}
.tit-cuenta{
	font-weight:bold;
	color:#2A92FE;
	margin:0;
}
.datos{
	margin-top:20px;
	line-height:35px;
}
.info-datos{
	color:#000;
}
.datos li{
	color:#2A92FE;
	font-weight:bold;
	font-size:16px;
}
.btn-perfil{
	color:#FFF;
	margin-bottom:20px;
	margin:30px auto;
	text-align:center;
}
.enmedio{
	margin-left:-5px;
}
.final{
	margin-left:-24px;
}
.boton-verde{
    background: none repeat scroll 0 0 #5EBB4B;
    border: 1px solid #3B9928;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #3B9928;
	width:111px;
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-weight:bold;
}
.boton-verde:hover{
	background:#3B9928;
	text-decoration:none;
	color:#FFF;

}
.boton-naranja{
    background: none repeat scroll 0 0 #F18622;
    border: 1px solid #E66E0C;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #E66E0C;
	width:111px;
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-weight:bold;	
}
.boton-naranja:hover{
	background: #E66E0C;
	text-decoration:none;
	color:#FFF;
}
.consultorios{
	background:#F5F5F5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:30px;
	padding:15px;
}
.boton-blue{
    background: none repeat scroll 0 0 #2A92C9;
    border: 1px solid #1D6DC1;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #1D6DC1;
	width:111px;
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}


/****Estilos Alex****/


.texto-buscador{
  margin-left: 17px;
  color: #fff;
  font-size: 21px;
  padding: 13px 0 8px 0;
}

.texto-buscador-link{
  margin-left: 17px;
  color: #fff;
  font-size: 21px;
  padding: 13px 0 17px 0;
}

.btn-default{
  background-color: #f18621;
  border: #f18622;
}

.btn-default:hover{
  background-color: #f18621;
  border: #f18622;
}

.img-buscador{
 padding: 2px;
}

.doc-a-domicilio{
  padding-top: 24px;
  text-align: left;
  font-size: 16px;
}

.doc-a-domicilio a{
  color: #61BF4D;
  text-decoration: none;
}

.doc-a-domicilio-terminos{
  padding-top: 24px;
  text-align: left;
  font-size: 14px;
}

.doc-a-domicilio-terminos a{
  color: #666666;
  text-decoration: none;
}

/*buscador filtro */

.filtrar{
  margin:20px -42px 30px 5px;
}

.costo{
  margin:20px -61px 30px 0;
}

.nombre{
  margin:20px 0 30px;
}

/*--------------------------------------------------------------------------------------------------------*/

/**********************
* RESULTADOS DOCTORES *
***********************/

.text_resultado{
	margin-top:20px;
    font-family: 'Open Sans',sans-serif;
	font-size:15px;
	color: #0F91CB;
	font-weight:bold;
}

.resultado{
	margin-top:2px;
	background:#F4F4F4;
	height:auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
}

.aplicacion{
	margin-top:2px;
	background:#00F;
	height:auto;
}

.avatar{
	margin-left:-16px;
}

.titulo-dr{
	font-family: 'Open Sans',sans-serif;
	font-size:14px;
	color: #0F91CB;
	font-weight:bold;
	text-decoration:underline;
}

.subtitulo{
	font-size:14px;
	color:#444444;
	font-weight:bold;
}

.semana-inicio{
	margin-left:15px;
}

.semana{
	font-size:12px;
	text-align:center;
}

.semana, .semana1, .semana-inicio{
	font-size:12px;
}

.semana1{
	background:#EEECED;
}

.tit-dia{
	width:100%;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	margin:0;
}

.horario{
	color:#19A7C5;
	text-decoration:underline;
}

/*--------------------------------------------------------------------------------------------------------*/

/*******************
*  PERFIL PACIENTE  *
********************/
.menu-perfil>li.active>a , .menu-perfil>li.active>a:hover, .menu-perfil > li > a:hover {
	background: none repeat scroll 0 0 #5EC14C;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
}

.menu-perfil > li > a{
	background: none repeat scroll 0 0 #C2C2C2;
	font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
	margin-bottom:10px;
}

.menu-perfil{
	border:none;	
	margin-top:20px;
}

.borderArt {
    border-top: 4px solid #5EC14C;
    height: 1px;
    left: 0;
    position: absolute;
    top: 329px;
    width: 100%;
}

.perfil{
	background:#FFF;
	border:none;
	margin-top:20px;
}

.tit-perfil{
	color:#2A92C7;
}

.boton{
    background: none repeat scroll 0 0 #2A92C9;
    border: 1px solid #1D6DC1;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #1D6DC1;
	width:111px;
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.boton:hover{
	background:#2A92FE;
	text-decoration:none;
	color:#FFF;
}

.boton-azul{
	color:#FFF;
	width:111px;
	margin-bottom:20px;
	margin-top:20px;
}

.calendario{
	height:400px;
	background:#CCC;
	margin-bottom:30px;
}

.cuenta{
	background:#F5F5F5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:30px;
	padding:15px;
}

.tit-cuenta{
	font-weight:bold;
	color:#2A92FE;
	margin:0;
}

.datos{
	margin-top:20px;
	line-height:35px;
}

.info-datos{
	color:#000;
}

.datos li{
	color:#2A92FE;
	font-weight:bold;
	font-size:16px;
}

.btn-perfil{
	color:#FFF;
	margin-bottom:20px;
	margin:30px auto;
	text-align:center;
}

.enmedio{
	margin-left:-5px;
}

.final{
	margin-left:-24px;
}

.boton-verde{
    background: none repeat scroll 0 0 #5EBB4B;
    border: 1px solid #3B9928;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #3B9928;
	width:111px;
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-weight:bold;
}

.boton-verde:hover{
	background:#3B9928;
	text-decoration:none;
	color:#FFF;
}

.boton-naranja{
    background: none repeat scroll 0 0 #F18622;
    border: 1px solid #E66E0C;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #E66E0C;
	width:111px;
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-weight:bold;	
}

.boton-naranja:hover{
	background: #E66E0C;
	text-decoration:none;
	color:#FFF;
}

.consultorios{
	background:#F5F5F5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:30px;
	padding:15px;
}

.boton-blue{
    background: none repeat scroll 0 0 #2A92C9;
    border: 1px solid #1D6DC1;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #1D6DC1;
	width:111px;
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}

/*--------------------------------------------------------------------------------------------------------*/


/*********
* SLIDER *
*********/

.blog {
  position: absolute;
  right: 20%;
  bottom: 180px;
  left: 5%;
  z-index: 10;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  overflow: hidden;
  padding-bottom: 15px;
  background-color: #42a5ce;
  border-radius: 8px; 
}

.blog a{
  color: #fff;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  word-wrap:break-word;
}

.tituloBlog>a{
  font-size: 20px;
}

.informacionSalud{
  margin: 10px 10px;
  width: 110px;
  height: 130px;
  float: left;
}

.DrDestacado {
  position: absolute;
  right: 20%;
  bottom: 10px;
  left: 5%;
  z-index: 10;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  overflow: hidden;
  background-color: #42a5ce;
  border-radius: 8px; 
}

.DrDestacado a{
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.tituloDrDestacado{
  width: 265;
  height: 50px;
  padding: 10px 0px 10px 0px;
}

.textoDrDestacado{
  width: 265px;
  height: 50px;
}

.botonesDestacado{
  margin-top: 10px;
  width: 265;
  height: 50px;
}

.aseguradoras{
  position: absolute;
  right: 20%;
  bottom: 10px;
  left: 32%;
  z-index: 10;
  color: #fff;
  text-align: left;
  opacity: 0.7;
  overflow: hidden;
  padding-bottom: 15px;
  background-color: #42a5ce;
  border-radius: 8px; 
  text-indent: 2px;
}

.tituloAseguradoras {
  font-size: 16px;
  margin: 10px 0px 5px 0px;
}

.tituloAseguradoras a {
  color: #fff;
  float: left;
  font-size: 16px;
}

.listaBusquedaDr {
  width: 180px;
  height: 290px;
  float: left;
  margin: 0px 31px 0px 5px;
}

.listaBusquedaDr a{
  color: #fff;
  font-size: 18px;
}

.listaBusquedaDr li>a{
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
}

/*--------------------------------------------------------------------------------------------------------*/

/*********
* LOGIN *
*********/
.iniciaSesionLogin{
  background-color: #1E84C6;
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 30px 30px 30px 100px;
}

.iniciaSesionLogin span{
  font-size: 16px;
  margin:5px auto;
  width: 180px;
  display: block;  
}

.iniciaSesionLogin a{
  text-align: left;
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
}

.iniciaSesionLogin img{
  margin:0 auto;
  width: 230px;
  display: block;
}

.sesion{
  margin: 10px 0px 10px 100px;
}

.formIniciarSesion input{
  width: 230px;
 margin: 0px 0px 0px 50px;
}

.formIniciarSesion label{
 margin: 0px 0px 0px 50px;
}


.iniciaSesionTitulo{
font-size: 40px;
text-align: center;
margin: 10px 3px;
}

.registroLogin{
  background-color: #f5f5f5;
  color: #1E84C6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 30px;
}

.registroTitulo{
  font-size: 40px;
text-align: center;
margin: 10px 3px;
}

.soyPacienteRegistro{
  width: 300px;
  height: 40px;
  margin: 10px;
}

.soyDoctorRegistro{
  width: 300px;
  height: 40px;
  margin: 10px 10px 60px 10px;
}

/*--------------------------------------------------------------------------------------------------------*/

/*******************
* REGISTRO PACIENTE*
********************/
.registro{
background-color: #f5f5f5;
border-radius: 8px;
margin: 15px 0px 20px 0px;
}

.registroTitulo{
  color: #83cd73;
  text-align: left;
  font-size: 30px;
  width: 350px;
}

.registroTitulo span {
  color: #1E84C6;
  text-align: left;
  font-size: 18px;
  float: left;
  margin: 10px;
}

.comoFuncionaRegistro{
display: block;
margin: 56px 0px 15px 41px;
}

.formRegistro label{
  color: #1E84C6;
  font-size: 16px;
}

.fechaNacimiento label{
  float: left;
  margin: 0px 200px 0px 0px;
}

.privacidadTerminos{
  color: #1E84C6;
  font-size: 16px;
}

.privacidadTerminos a{
  color: #1E84C6;
  font-size: 16px;
  text-decoration: underline;
}

.registrarme{
  width: 200px;
  margin: 10px 0px 10px 300px;
  font-size: 20px;
}

/*--------------------------------------------------------------------------------------------------------*/

/*******************
* REGISTRO DOCTOR  *
********************/

.comoFuncionaRegistroDr{
  display: block;
  margin: 15px 0px 15px 41px;
}

.prefijo label{
  float: left;
}

.foto{
  margin-top: 12px;
}

.telRegistroDr label{
margin: 4px 160px 0px 0px;
}

/*--------------------------------------------------------------------------------------------------------*/

/************
* EDITORIAL *
*************/

.editorial{
  background-color: #c8c8c8;
}

.editorial img{
  margin: 15px 0;
}

.editorialImgCentrada{
  padding-top: 7px;
}


/*--------------------------------------------------------------------------------------------------------*/

/*********
* FOOTER *
**********/

#footer {
  background-color: #f6f6f6;
}

#footer a{
  color: #c1c1c1;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  margin: 1.4% 0;
}

#footer p{
  color: #989898;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
}

#fContacto{
  background: url('../img/llamadafooter.png') no-repeat scroll 0 0 transparent;
  padding: 0 0 0 25px;
  margin-left: -25px !important;
  cursor: pointer;
}

#fChat{
  background: url('../img/chatfooter.png') no-repeat scroll 0 0 transparent;
  padding: 0 0 0 25px;
  margin-left: -25px !important;
  cursor: pointer;
  width: 100%;
}


/*******************
*PAGINAS ESTATICAS *
*******************/


.contenidoEstaticoPag{
background-color: #f5f5f5;
border-radius: 5px;
margin: 15px 0px 20px 0px;
height: 600px;
}

.contenidoEstaticoPag h1{
  font-size: 24px;
  color: #61bf4d;
}
.contenidoEstaticoPag h2{
  font-size: 20px;
  color: #979797;
  font-weight: bold;
  margin-bottom: 20px;
}

.contenidoEstaticoPag p{
  font-size: 18px;
  color: #8e8e8e;
  margin: 6px 0;
  text-align: justify;
}


/* -- El qeuipo--*/

.equipo img{
 width: 111px;
height: 161px;
display: block;
margin: 0 auto;
border-radius: 19px;

}

.equipo{
  height: 800px;
}

.fundadores p{
text-align: center;
font-size: 16px;
width: 140px;
height: 20px;
display: block;
margin: 0 auto;
}

/* -- Contacto--*/

.enviarContacto{
  width: 200px;
  margin: 10px 0px 10px 300px;
  font-size: 20px;
}

/* -- Terminos --*/

.terminos{
  height: 450px;
overflow-y: scroll;
}

/* -- Como funciona Voyaldoc.com Pacientes --*/

.videoPacientes{
  display: block;
  margin: 0 auto;
  width: 570px;
  height: 340px;
  padding-top: 25px;
}

/* -- Como funciona Voyaldoc.com Doctores --*/
.videoDoctores{
  display: block;
  margin: 0 auto;
  width: 570px;
  height: 340px;
  padding-top: 25px;
}



/* -- FAQ pacentes y doctores --*/

.faq{
  height: auto;
}


.panel-title a{
  color: #428bca;
  font-weight: bold;
}

/***********************************
* FIN DE ESTILOS GENERALES 1336px *
************************************/
 
/*--------------------------------------------------------------------------------------------------------*/


/*****************************************
*  INICIO ESTILOS DIPOSITIVOS 1024*768px *
******************************************/

@media (max-width: 1024px) {

  .logoMovil img{
    margin:0 auto;
    width:1500%;
  }

/*--------------------------------------------------------------------------------------------------------*/
 

/*************************
*         MENU          *
*************************/

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #56B8DD;
    color: #fff;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #56B8DD;
  }

  .form-inline .form-control{
    width: 160px;
  }


/*--------------------------------------------------------------------------------------------------------*/

/**********
*BANNERS  *
**********/

/*banner Superior*/

.banner img{
  width: 600px;  
  height: 141px;
  margin-top: 15px;
}

/*banner lateral beneficios Pacientes */

.beneficios{
  width: 235px;
  height: 475px;
}


.tituloBeneficios{
margin: 5px 10px;
font-size: 25px;
}

.descBeneficios{
margin: 5px;
font-size: 12px;
padding-top: 5px; 
}

.beneficios ul li{
font-size: 12px;
padding: 5px 0;
}


/*banner lateral beneficios Dr */

.beneficiosDr{
 
  width: 240px;
  height: 555px;
}

.beneficiosDr ul li{
font-size: 12px;
padding: 5px 0;
margin-left: -40px;
}

/*banner Inferior*/

.tituloLlamaGratis{
font-size: 22px;
margin: 4px 15px 2px 0px;
}

.tipoNum{
  float: left;
  color: #8e8e8e;
  font-size: 16px; 
}

.bannerInferior img{
  width: 420px;  
  height: 105px;
  margin-top: 15px;
}

/*banner Lateral Ads*/

.bannerlateral{
margin: 14px 0px 10px 0px;
padding-left: 40px;
}


.bannerlateral img{
  width: 180px;  
  height: 600px;
}


/*--------------------------------------------------------------------------------------------------------*/

/**********
*BUSCADOR *
**********/

/*buscador principal tabs */

  .estado{
   margin-right: -15px;
 }

 .buscar{
  margin: -20px;
}

<<<<<<< HEAD
/****Estilos Alex****/

.filtrar{
	margin-left:5px;
   	margin-right: -42px;
	margin-bottom:40px;
	margin-top:0;
}
.costo{
	margin-left: 12px;
	margin-bottom:40px;
	margin-top:0;	
}
.nombre{
	margin-left: 31px;
	margin-bottom:40px;
	margin-top:0;	
}
.btn{
	margin-top:20px;
	margin-bottom:20px;
	margin-left:1px;
}

/********************
     PAGE PERFIL 
*********************/
.menu-perfil>li.active>a , .menu-perfil>li.active>a:hover, .menu-perfil > li > a:hover {
	background: none repeat scroll 0 0 #5EC14C;
=======
/*buscador filtro */

.filtrar{
  margin-left:5px;
    margin-right: -42px;
  margin-bottom:40px;
  margin-top:0;
}

.costo{
  margin-left: 12px;
  margin-bottom:40px;
  margin-top:0; 
}

.nombre{
  margin-left: 31px;
  margin-bottom:40px;
  margin-top:0; 
}

/*--------------------------------------------------------------------------------------------------------*/

/*******************
*  PERFIL PACIENTE  *
********************/
.menu-perfil>li.active>a , .menu-perfil>li.active>a:hover, .menu-perfil > li > a:hover {
  background: none repeat scroll 0 0 #5EC14C;
>>>>>>> origin/jorge
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
<<<<<<< HEAD

}
.menu-perfil > li > a{
	background: none repeat scroll 0 0 #C2C2C2;
	font-size: 16px;
=======
}

.menu-perfil > li > a{
  background: none repeat scroll 0 0 #C2C2C2;
  font-size: 16px;
>>>>>>> origin/jorge
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
<<<<<<< HEAD
	margin-bottom:10px;
}
.menu-perfil{
	border:none;	
}
=======
  margin-bottom:10px;
}

.menu-perfil{
  border:none;  
}

>>>>>>> origin/jorge
.borderArt {
    border-top: 4px solid #5EC14C;
    height: 1px;
    left: 0;
    position: absolute;
    top: 338px;
    width: 100%;
}
<<<<<<< HEAD
.perfil{
	background:#FFF;
	border:none;
=======

.perfil{
  background:#FFF;
  border:none;
>>>>>>> origin/jorge
}

.boton-verde{
    background: none repeat scroll 0 0 #5EBB4B;
    border: 1px solid #3B9928;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #3B9928;
<<<<<<< HEAD
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.boton-verde:hover{
	background:#3B9928;
	text-decoration:none;
	color:#FFF;
}
=======
  padding:10px;
  transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.boton-verde:hover{
  background:#3B9928;
  text-decoration:none;
  color:#FFF;
}

>>>>>>> origin/jorge
.boton-naranja{
    background: none repeat scroll 0 0 #F18622;
    border: 1px solid #E66E0C;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #E66E0C;
<<<<<<< HEAD
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.boton-naranja:hover{
	background: #E66E0C;
	text-decoration:none;
	color:#FFF;
}
=======
  padding:10px;
  transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.boton-naranja:hover{
  background: #E66E0C;
  text-decoration:none;
  color:#FFF;
}

>>>>>>> origin/jorge
.enmedio{
  margin-left:16px;
  width:auto;
}
<<<<<<< HEAD
=======

>>>>>>> origin/jorge
.final{
  width:auto;
    margin-left:-15px;
}
<<<<<<< HEAD
=======

>>>>>>> origin/jorge
.boton-blue{
    background: none repeat scroll 0 0 #2A92C9;
    border: 1px solid #1D6DC1;
    color: #FFFFFF;
    height: 40px;
    text-shadow: 0 -1px 0 #1D6DC1;
<<<<<<< HEAD
	padding:10px;
	transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
	

/****Estilos Alex****/

=======
  padding:10px;
  transition: box-shadow 0.5s ease 0s, border 0.5s ease 0s, background 0.5s ease 0s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
  
/*--------------------------------------------------------------------------------------------------------*/

/*********
* SLIDER *
*********/
>>>>>>> origin/jorge

.informacionSalud{
  margin: 10px 5px;
  width: 95px;
  height: 110px;
  float: left;
}

.blog {
  right: 20%;
  bottom: 180px;
  left: 5%;
  padding-bottom: 15px;
}

.blog a{
  color: #fff;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  word-wrap:break-word;
}

.tituloBlog>a{
  font-size: 16px;
}

.DrDestacado {
  bottom: 40px;
  text-align: left;
  text-indent: 2px;
}

.DrDestacado a{
  color: #fff;
  font-size: 16px; 
}

.tituloDrDestacado{
  width: 230px;
  height: 35px;
  padding: 5px 0px 5px 0px;
}

.textoDrDestacado{
  width: 230px;
  height: 40px;
  font-size: 12px;
}

.botonesDestacado{
  margin-top: 10px;
  width: 265;
  height: 50px;
}

.aseguradoras
{
  position: absolute;
  right: 20%;
  bottom: 40px;
  left: 31%;
  z-index: 10;
  color: #fff;
  text-align: left;
  opacity: 0.7;
  overflow: hidden;
  padding-bottom: 15px;
  background-color: #42a5ce;
  border-radius: 8px; 
  text-indent: 2px;
}

.tituloAseguradoras {
  font-size: 16px;
  margin: 10px 0px 5px 0px;
}

.tituloAseguradoras a {
  color: #fff;
  float: left;
  font-size: 16px;
}

.listaBusquedaDr {
  width: 180px;
  height: 233px;
  float: left;
  margin: 0px 20px 0px 5px;
}

.listaBusquedaDr a{
  color: #fff;
  font-size: 16px;
}

.listaBusquedaDr li>a{
  color: #fff;
  font-size: 12px;
  line-height: 1.7;
}

/*--------------------------------------------------------------------------------------------------------*/

/*********
* LOGIN *
*********/
.iniciaSesionLogin{
  margin: 30px 30px 10px 100px;
}

.iniciaSesionLogin span{
  font-size: 12px;
  margin:5px auto;
  width: 180px;
  display: block;  
}

.iniciaSesionLogin a{
  text-align: left;
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
}

.iniciaSesionLogin img{
  margin:0 auto;
  width: 200px;
  display: block;
}

.sesion{
  margin: 10px 0px 10px 30px;
}

.formIniciarSesion input{
  width: 200px;
 margin: 0px 0px 0px 30px;
}

.formIniciarSesion label{
 margin: 0px 0px 0px 30px;
}

.iniciaSesionTitulo{
font-size: 30px;
text-align: center;
margin: 10px 3px;
}

.registroLogin{
  background-color: #f5f5f5;
  color: #1E84C6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 30px;
}

.registroTitulo{
  font-size: 30px;
text-align: center;
margin: 10px 3px;
}

.soyPacienteRegistro{
  width: 200px;
  height: 40px;
  margin: 10px;
}

.soyDoctorRegistro{
  width: 200px;
  height: 40px;
  margin: 10px 10px 60px 10px;
}

/*--------------------------------------------------------------------------------------------------------*/

/*******************
* REGISTRO PACIENTE*
********************/

.registroTitulo{
  font-size: 25px;
  width: 200px;
}

.registroTitulo span {
  font-size: 16px;
  margin: 5px;
}


.comoFuncionaRegistro{
margin: 42px 0px 15px 116px;
}

.formRegistro label{
  font-size: 14px;
}

.fechaNacimiento label{
margin: 4px 160px 0px 0px;
}

.privacidadTerminos{
  font-size: 14px;
}

.privacidadTerminos a{
  font-size: 14px;
}

.registrarme{
  width: 180px;
  margin: 10px 0px 10px 250px;
  font-size: 18px;
}


/*******************
*PAGINAS ESTATICAS *
*******************/


.contenidoEstaticoPag{
margin: 15px 0px 20px 0px;
height: 600px;
}

.contenidoEstaticoPag h1{
  font-size: 22px;
}

.contenidoEstaticoPag h2{
  font-size: 18px;
}

.contenidoEstaticoPag p{
  font-size: 16px;
}

/* -- El equipo--*/

.equipo{
  height: 850px;
}

/* -- Contacto --*/

.enviarContacto{
  width: 180px;
  margin: 10px 0px 10px 250px;
  font-size: 18px;
}


/* -- Terminos --*/

.terminos{
  height: 450px;
overflow-y: scroll;
}

/* -- FAQ pacentes y doctores --*/

.faq{
  height: auto;
}




}/* fin de media querie 1024px*/


/***********************************
* FIN DE ESTILOS DIPOSITIVOS 1024px *
************************************/
 
/*--------------------------------------------------------------------------------------------------------*/


 /***********************************
*  INICIO ESTILOS DIPOSITIVOS 768px *
************************************/

@media (max-width: 768px) {

  .logoMenu ul>li>img{
    width: 100px;
    height: 50px;
    text-align: center;
  }

  .menuMovil{
    background-color: #2A92C7;
  }

  .botonMenuMovil{
    width: 130px;
    height: 40px;
    float: left;
    padding-top: 5px;
  }

  .logoMovil{
    background-image:url('../img/logo-movil.png');
    background-size:60px 40px;
    background-repeat:no-repeat;
    width: 100px;
    height: 40px;
    float: left;
  }

<<<<<<< HEAD
}
=======
}/* fin de media querie 767px*/
>>>>>>> origin/jorge


/***********************************
* FIN DE ESTILOS DIPOSITIVOS 767px *
************************************/
/*--------------------------------------------------------------------------------------------------------*/
